#set($now = $util.time.nowEpochSeconds())
{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key" : {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "createdAt": $util.dynamodb.toDynamoDBJson($now),
    "lastLoggedIn": $util.dynamodb.toDynamoDBJson($now),
    "name": $util.dynamodb.toDynamoDBJson($ctx.args.input.name),
    "password": $util.dynamodb.toDynamoDBJson($ctx.args.input.password),
    "roomId": $util.dynamodb.toDynamoDBJson($ctx.identity.resolverContext.roomId),
    "token": $util.dynamodb.toDynamoDBJson($util.autoId())
  }
}